code/__pycache__

dataset/origin/*.jpg
dataset/resized_*
!dataset/README.md

experiment_space/*
!experiment_space/README.md
!experiment_space/script_template.py
!experiment_space/SLC_template.conf

log/*
!log/README.md

model/*.hdf5

output/*
!output/README.md
